body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    margin-left: 25%;
    margin-right: 25%;
    background-color: rgb(142, 101, 255);
    padding: 15px;
    border-radius: 15px;
    border: 2px solid rgba(64, 81, 177, 0.616);
}

h1 {
    text-align: center;
    color: #333;
}

h2 {
    margin-top: 30px;
    color: #333;
}

input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    width: 78%;
}

input[type="text"]::placeholder {
    color: #999;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background-color: #555;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-right: 3%;
}

li {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

p {
    text-align: center;
    color: #f4f4f4;
    background-color: rgb(0, 0, 0);
    margin-left: 42%;
    margin-right: 42%;
    padding: 10px;
    border-radius: 12px;
}

li span {
    flex-grow: 1;
    margin-right: 10px;
    margin-left: 10px;
}

input[type="date"] {
    border: 2px solid rgb(236, 60, 60);
    margin-top: 13px;
    font-size: 16px;
    border-radius: 5px;
    height: 30px;
}